#fixed-header {
    background-color: rgba(25, 25, 25, 0.8);
    height: 100px;
    display: none;
    
    .heading-logo-link {
        &:hover > .heading-logo {
            color: rgba(255, 255, 255, 0.8);
        }
    }
    
    .heading-logo {
        font-family: $header-title-font-family;
        color: #ffffff;
    }
    
    .navigation-button {
        color: #ffffff;
    }
    
    &.hidden {
        top: -100px;
        animation-name: hideHeader;
        animation-duration: 0.25s;
    }
    &:not(.hidden) {
        animation-name: showHeader;
        animation-duration: 0.25s;
    }
    
    @keyframes hideHeader {
        from {
            top: 0px;
        }
        to {
            top: -100px;
        }
    }
    @keyframes showHeader {
        from {
            top: -100px;
        }
        to {
            top: 0px;
        }
    }
}