
.header-section {
    
    &.header-section {
        height: 80vh;
        padding: 0;
        
        .heading-logo-link {
            &:hover > .heading-logo {
                color: rgba(255, 255, 255, 0.8);
            }
            .heading-logo {
                font-family: $header-title-font-family;
                left: 5vw;
                top: 5vh;
                display: inline;
                position: relative;
            }

        }

        
        .navigation-button {
            color: #ffffff;
            margin-right: 10vw;
            margin-top: 6vh;
            
            svg rect {
                stroke: #ffffff;
                stroke-width: 0.5px;
            }
            
            &:hover {
                color: rgba(255, 255, 255, 0.8);
            }
        }
        
        .uk-cover-container {
            height: 100%;
            background-color: rgba($global-secondary-background, 0.5);
        }
    }

    &.header-background {
        //background-image: url('../../static/img/header01.jpg');
        background-image: url('../../static/img/DSC018841o.R.JPG');
        
        
        
    }
    
    &.header-video {
        & > .uk-cover-container {
            height: 100%;
        }

        .header-opacity-layer {
            position: relative;
            //background-color: #000000;
            opacity: 1;
        }
    }

}