.page-gallery {

    
    .uk-card {
        z-index: 100;
        
        .uk-card-header {
            margin-bottom: 0;
        }
        
        img {
            width: 100%;
        }
    }


}