.page-gallery {

    .header-section {
        &.header-background {
            height: 40vh;
        }
    }
    
    .uk-card {
        z-index: 100;
        
        .uk-card-header {
            margin-bottom: 0;
        }
        
        img {
            width: 100%;
        }
    }


}