
$global-primary-background: $colourtheme-2;
//$global-inverse-color: $colourtheme-3;

//$global-link-color: $colourtheme-3;
$global-font-size: 16px;


$base-body-font-weight: bold;


$base-link-hover-text-decoration: none;